#logo{
    margin: 0;
}

.logo-home{
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.logo-home img{
    margin: 0;
}

#masthead{
    margin: 10px 0;
}

.header-bg-color, .header-wrapper{
    background-color: #11202c !important;
}

#section_1454021718 .flickity-viewport{
    height: 280px !important;
}

#col-1573209808{
    position: relative;
}